{% extends 'ScriboBundle::layout.html.twig' %}



{% block title %}Ordenes Tipo 1{% endblock %}



{% block uheader %}
    <link rel="stylesheet" href="{{ asset('bundles/scribo/css/pro.css') }}" />
    <script type="text/javascript" src="{{ asset('bundles/scribo/jsc/view/uno.js') }}">/*--- Include ---*/ </script>
    <script type="text/javascript" src="{{ asset('bundles/scribo/jsc/view/findhelper.js') }}">/*--- Include ---*/ </script>
    <script type="text/javascript" src="{{ asset('bundles/scribo/jsc/view/firma.js') }}">/*--- Include ---*/ </script>
    <script type="text/javascript" src="{{ asset('bundles/scribo/jsc/view/upload.js') }}">/*--- Include ---*/ </script>
{% endblock %}



{% block view %}


    <h1>GESTIÓN DE ORDENES TIPO 1</h1><b id='riper'></b><br />

    <div class="scr-pro">
        
        <table class="scr-f1">
            <tr>
                <th>CLIENTE:</th>
                <td>
                    <input id="OrdClient" class="scr-hidden" type="text" readonly="readonly" />
                    <input id="xOrdClient" class="scr-inhelp" type="text" />
                    <div id="lOrdClient" class="scr-hlpList" ></div>
                </td>
            </tr>
        </table>
    
    </div>
    
    <br />
    
    <div class="scr-pro">
        
        <table class="scr-f1">
            
            <tr>
                <th>ARCHIVO</th>
                <th>Nº PAGINAS</th>
                <th>MATERIAL</th>
                <th>TINTA</th>
                <th>CANTIDAD</th>
            </tr>
            
            <tr>
            
                <td>
                    <table>
                        <tr>
                            <td>
                                <input id="fileIn" class="scr-hidden" type="file" />
                                <input id="xFileIn" type="text" readonly="readonly" />
                            </td>
                            
                            <td class="scr-aright">
                                <img id="xxFileIn" src="{{ asset('bundles/scribo/img/file.png') }}" title="Seleccionar archivo..." />
                            </td>
                        </tr>
                    </table>
                </td>
                
                <td><input id="pages" type="number" /></td>
                
                <td>
                    <input id="OrdMaterial" class="scr-hidden" type="text" readonly="readonly" />
                    <input id="xOrdMaterial" class="scr-inhelp" type="text" />
                    <div id="lOrdMaterial" class="scr-hlpList" ></div>
                </td>
                
                <td>
                    <input id="OrdTinta" class="scr-hidden" type="text" readonly="readonly" />
                    <input id="xOrdTinta" class="scr-inhelp" type="text" />
                    <div id="lOrdTinta" class="scr-hlpList" ></div>
                </td>
                
                <td><input id="amount" type="number" /></td>
            
            </tr>
            
            <tr>
                <th colspan="3" class="scr-aleft">ACABADOS:</th>
                <th colspan="2" class="scr-aleft">NOTA:</th>
            </tr>
            
            <tr>
                <td colspan="3">
                    
                    <input id="OrdAcabado" class="scr-hidden" type="text" readonly="readonly" />
                    
                    <table class="scr-f2">
                        <tr>
                            <td><input id="xOrdAcabado" class="scr-inhelp" type="text" /></td>
                            <th><input id="kOrdAcabado" type="button" value="+" title="Agregar" /></th>
                        </tr>
                    </table>
                    
                    <div id="lOrdAcabado" class="scr-hlpList" ></div>
                    
                    <div class="scr-detalle">
                        
                        <table id="acabadosList">
                            
                        </table>
                    
                    </div>
                    
                </td>
                <td colspan="2"><textarea id="notes" rows="7"></textarea></td>
            </tr>
            
            <tr>
                <td colspan="3">
                    <table class="scr-f2">
                        <tr>
                            <th>VALOR:</th>
                            <th>$</th>
                            <td><input id="unit" type="number" /></td>
                            <th>TOTAL:</th>
                            <th>$</th>
                            <td><input id="value" type="number" readonly="readonly" /></td>
                            <th>EXPIRACIÓN:</th>
                            <td><input id="expiry" type="date" /></td>
                        </tr>
                    </table>
                </td>
                
                <td colspan="2" class="scr-aright">
                    <input id="clr" type="button" value="LIMPIAR" />
                    <input id="add" type="button" value="AGREGAR" />
                </td>
            </tr>
        
        </table>
        
    </div> 
    
    <div id="items" class="scr-orditem">
        
        <table>
            <tr>
                <th style="width: 39%;">ARCHIVO</th>
                <th style="width: 10%;">Nº PAGINAS</th>
                <th style="width: 10%;">CANTIDAD</th>
                <th style="width: 10%;">V. UNITARIO</th>
                <th style="width: 10%;">TOTAL</th>
                <th style="width: 10%;">MATERIAL</th>
                <th style="width: 10%;">TINTA</th>
                <th style="width: 1%;"><img src="{{ asset('bundles/scribo/img/null.png') }}"/></th>
            </tr>
        </table>
        
        <table id="itemLister"></table>
    
    </div>
    
    <br />
    
    <div class="scr-pro">
    
        <table class="scr-f1">
            <tr>
                <th>TIEMPO:</th>
                <td><input id="ordTime" type="number" size="3"/></td>
                <td>Hr.</td>
                
                <th>SUBTOTAL:</th>
                <th>$</th>
                <td><input id="ordSubtotal" type="number" readonly="readonly" /></td>
                
                <th>IVA:</th>
                <td><input id="ordIva" type="number" placeholder="16" /></td>
                <td>%</td>
                
                <th>TOTAL:</th>
                <th>$</th>
                <td><input id="ordTotal" type="number" readonly="readonly" /></td>
                
            </tr>
            
            <tr><th colspan="12" class="scr-aleft">OBSERVACIONES:</th></tr>
            <tr><td colspan="12"><textarea id="ordData"></textarea></td></tr>
            <tr>
                <td colspan="12" class="scr-aright">
                    <img id="showFirma" src="{{ asset('bundles/scribo/img/firma.png') }}" title="FIRMAR ORDEN" />
                    <input id="save" type="button" value="GUARDAR" style="display: none;" />
                </td>
            </tr>
            
        </table>
    
    </div>
    
{% endblock %}

{% block outview %}

    <div id="ctFirma" class="scr-firma">

        <table>
            <tr>
                <td>
                    <canvas id="firma" class="" width="640" height="480" style=""></canvas>
                    
                    <br />
                    
                    <input id="clearFirma" type="button" value="LIMPIAR" />
                    &nbsp;
                    <input id="getFirma" type="button" value="FIRMAR" />
                </td>
            </tr>
        </table>

    </div>
    
    <div id="waiter" class="scr-firma">
        
        <table style="height: 100%;">
            <tr>
                <td><img src="{{ asset('bundles/scribo/img/loader.gif') }}" /></td>
            </tr>
        </table>
    
    </div>
    
    <div id="uploader" class="scr-uploader">
        <table>
            <tr><th id="upLabel">&nbsp;</th><td><b id="upBar"></b></td></tr>
        </table>
    </div>
    
{% endblock %}


