{% extends 'ScriboBundle::base.html.twig' %}



{% block title %}{% endblock %}



{% set storage = app.session.get('storage') %}
{% set role = app.session.get('quick') %}



{% block header %}

    <link rel="stylesheet" href="{{ asset('bundles/scribo/css/tema.css') }}" />
    <script type="text/javascript" src="{{ asset('bundles/scribo/jsc/ice/dom.js') }}">/*--- Include ---*/ </script>
    <script type="text/javascript" src="{{ asset('bundles/scribo/jsc/ice/basico.js') }}">/*--- Include ---*/ </script>
    <script type="text/javascript" src="{{ asset('bundles/scribo/jsc/ice/ajax.js') }}">/*--- Include ---*/ </script>
    <script type="text/javascript" src="{{ asset('bundles/scribo/jsc/view/view.js') }}">/*--- Include ---*/ </script>
    
    {% block uheader %}
    {% endblock %}
    
{% endblock %}

{% block body %}

    <nav class="scr-nav">
        
        <ul class="scr-bro">
            
            <li class="scr-menu">
                
                <img src="{{ asset('bundles/scribo/img/scribo_48.png') }}" title="MENÚ" />
            
                <ul class="scr-mitem">
                    
                    <li><a href="{{ path('scribo_home') }}">INICIO</a></li>
                    <li><a href="{{ path('scribo_board') }}" target="_blank" >BOARD I <sub>(Clientes)</sub></a></li>
                    <li><a href="{{ path('scribo_board_pro') }}" target="_blank" >BOARD II <sub>(Operarios)</sub></a></li>
                    
                    {% if role == 'A' or role == 'R' %}
                        <li><a href="{{ path('scribo_cliente') }}">CLIENTES</a></li>
                    {% endif %}
                    
                    {% if role == 'A' %}
                        <li><a href="{{ path('scribo_uno') }}">O. TIPO 1 <sub>(Papel)</sub></a></li>
                        <li><a href="{{ path('scribo_dos') }}">O. TIPO 2 <sub>(Sustrato)</sub></a></li>
                    {% endif %}
                    
                    {% if role == 'R' %}
                        <li><a href="{{ path('scribo_acabado') }}">ACABADOS</a></li>
                        <li><a href="{{ path('scribo_material') }}">MATERIALES</a></li>
                        <li><a href="{{ path('scribo_tinta') }}">TINTAS</a></li>
                        <li><a href="{{ path('scribo_personal') }}">PERSONAL</a></li>
                        <li><a href="{{ path('scribo_usuario') }}">USUARIOS</a></li>
                        <li><a href="{{ path('scribo_filer') }}">G. DE ARCHIVOS</a></li>
                    {% endif %}
                    
                    {% if role == 'A' or role == 'R' or role == 'C' %}
                        <li><a href="{{ path('scribo_repo') }}">REPORTES</a></li>
                    {% endif %}
                    
                    {% if role == 'R' %}
                        <li><a href="{{ path('scribo_config') }}">CONFIGURACIÓN</a></li>
                    {% endif %}
                </ul>
            
            </li>
            
            <li class="scr-flash">
                
                <b>SCRIBO</b>
                
                <ul id="flash-zone" class="scr-log">
                    
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <li>{{ flashMessage }}</li>
                    {% endfor %}
                    
                </ul>
                
            </li>
            
            <li class="scr-quick">
                <img src="{{ asset('bundles/scribo/img/us_edit.png') }}" id="qck-chpass" title="CAMBIAR CONTRASEÑA" />
                <a href="{{ path('scribo_logout') }}"><img src="{{ asset('bundles/scribo/img/us_close.png') }}" title="CERRAR SESIÓN" /></a>
            </li>
        
        </ul>
        
    </nav>
    
    
    <section class="scr-nuler"></section>
    
    
    <section class="scr-view">
    
        {% block view %}

        {% endblock %}
    
    </section>
    
    {% block outview %}
    
    {% endblock %}
    
    <section id="chpass" class="scr-chpass">
        
        <b>Contraseña Antigua:</b><br />
        <input id="wgOldpass" name="wgOldpass" type="password" autocomplete="off" required /><br /><br />
        
        <b>Nueva Contraseña:</b><br />
        <input id="wgPass" name="wgPass" type="password" autocomplete="off" required /><br /><br />
        
        <b>Confirmar Nueva Contraseña:</b><br />
        <input id="wgRepass" name="wgRepass" type="password" autocomplete="off" required /><br /><br />
        
        <input class="scr-fll" id="wgCambiar" name="wgCambiar" type="button" value="Cambiar" />
        <input class="scr-flr" id="wgCancelar" name="wgCancelar" type="button" value="Cancelar" />
        
    </section>
    
{% endblock %}



{% block style %}

{% endblock %}


    
{% block script %}

    <script type="text/javascript">
        
        var $basePath = "{{ path('scribo') }}";
        var $imgPath = "{{ asset('bundles/scribo/img/') }}";
        var $packPath = "{{ asset('bundles/scribo/pack/') }}";
        var $jar = "{{ role }}";
        var $storage = "{{ storage }}";
        
        {% block uscript %}

        {% endblock %}
    
    </script>
    
{% endblock %}
