{% extends 'ScriboBundle::layout.html.twig' %}



{% block title %}Materiales{% endblock %}



{% block uheader %}
    <script type="text/javascript" src="{{ asset('bundles/scribo/jsc/view/material.js') }}">/*--- Include ---*/ </script>
{% endblock %}



{% block view %}


    <h1>GESTIÓN DE MATERIALES</h1><br />

    <table class="scr-tabOne">
        <tr><th>ID:</th><th>NOMBRE:</th></tr>
        
        <tr><td><input id="id" name="id" type="text" readonly /></td><td><input id="name" name="name" type="text" maxlength="100" /></td></tr>
        
        <tr><th>COSTO ($):</th><th>VALOR BASE ($):</th></tr>
        <tr><td><input id="cost" name="cost" type="number" min="0" max="99999999.99" /></td><td><input id="value" name="value" type="number" min="0" max="99999999.99" /></td></tr>
        
        <tr><th>TIPO DE MATERIAL:</th><th>ESPECIFICACIONES:</th></tr>
        <tr>
            <td>
                
                <input id="type" name="type" class="scr-hidden" type="text" readonly />
                <table class="scr-wgcont">
                    <tr>
                        <td>
                            <input id="xtype" name="xtype" type="text" readonly />
                            
                            <div id="ltype" class="scr-wglist">
                                <table>
                                    <tr><th>@</th><td>Seleccione...</td></tr>
                                    <tr><th>P</th><td>OFFSET DIGITAL</td></tr>
                                    <tr><th>S</th><td>GRAN FORMATO</td></tr>
                                </table>
                            </div>
                            
                        </td>
                        <th>
                            <img id="ktype" src="{{ asset('bundles/scribo/img/adown.png') }}" />
                        </th>
                    </tr>
                </table>
            
            </td>
            <td class="scr-skim">
                <input id="width" name="width" type="number" min="0" max="99999999.99" placeholder="Ancho (mm)" />
                X
                <input id="height" name="height" type="number" min="0" max="99999999.99" placeholder="Largo (mm)" />
                X
                <input id="weigth" name="weigth" type="number" min="0" max="99999999.99" placeholder="Gramaje (gr)" />
            </td>
        </tr>
        
        <tr><th colspan="2">INFORMACIÓN AD.:</th></tr>
        <tr><td colspan="2"><textarea id="data" name="data"></textarea></td></tr>
        
        <tr>
            <td colspan="2">
                <textarea id="discount" name="discount" class="scr-hidden"></textarea>
                
                <b style="display: block; font-weight: bold; border-bottom: 1px solid #000; margin-bottom: 5px;">Descuentos:</b>
                
                <table style="width: 100%;">
                    <tr>
                        <td><input id="disMin" type="number" placeholder="MIN VALUE" /></td>
                        <td><img src="{{ asset('bundles/scribo/img/le.png') }}" /></td>
                        <td><img src="{{ asset('bundles/scribo/img/ex.png') }}" /></td>
                        <td><img src="{{ asset('bundles/scribo/img/lt.png') }}" /></td>
                        <td><input id="disMax" type="number" placeholder="MAX VALUE"/></td>
                        <td><img src="{{ asset('bundles/scribo/img/eq.png') }}" /></td>
                        <td><input id="disPor" type="number" placeholder="DISCOUNT (%)"/></td>
                        <td><input id="disAdd" type="button" value="+" title="Agregar descuento!." /></td>
                    </tr>
                </table>
                
                <div id="disZone" class="scr-zone" style="height: 100px; width: 100%; left: 0%;">
                    <table id="tabDisZone">
                        <tr style="background: #44729E; color: #fff;"><td>MIN</td><td>MAX</td><td>DESC (%)</td><td style="width: 20px;">&nbsp;</td></tr>
                    </table>
                </div>
                
            </td>
        </tr>
        
        <tr><td colspan="2"><input id="btnSave" class="scr-flr" type="button" value="Guardar" /><input id="btnDelete" class="scr-flr" type="button" value="Eliminar" /><input id="btnClear" class="scr-fll" type="button" value="Limpiar" /></td></tr>
        
    </table>
    
    <div id="zone" class="scr-zone" style="height: 190px;"><img src="{{ asset('bundles/scribo/img/loader.gif') }}" /></div>

{% endblock %}


