{% extends 'ScriboBundle::base.html.twig' %}



{% block title %}Login{% endblock %}



{% block header %}

    <link rel="stylesheet" href="{{ asset('bundles/scribo/css/login.css') }}" />
    <script type="text/javascript" src="{{ asset('bundles/scribo/jsc/ice/dom.js') }}">/*--- Include ---*/ </script>
    <script type="text/javascript" src="{{ asset('bundles/scribo/jsc/view/comun.js') }}">/*--- Include ---*/ </script>


{% endblock %}



{% block body %}

    <section id="flash-zone" class="scr-flash" title="Click para cerrar!">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <b>{{ flashMessage }}</b>
        {% endfor %}
    </section>

    <section class="scr-login">
        
        <article class="title">
            
            <img src="{{ asset('bundles/scribo/img/scribo_64.png') }}" title="SCRIBO" />
            <b>INGRESAR</b>
            
        </article>
        
        <article class="area">
            
            <form action="{{ path('scribo_login') }}" method="post">
                
                <b>Dominio:</b><br />
                <input id="domain" name="domain" type="text" autocomplete="off" required /><br /><br />
                
                <b>Usuario:</b><br />
                <input id="user" name="user" type="text" autocomplete="off" required /><br /><br />
                
                <b>Contraseña:</b><br />
                <input id="pass" name="pass" type="password" autocomplete="off" required /><br /><br />
                
                <input id="btIngresar" name="btIngresar" type="submit" value="Ingresar" /><br /><br />
                
            </form>
            
        </article>
        
    </section>
    
    <footer class="scr-foot">
        
        <div id="recom" class="scr-recom">
            <a href="https://www.google.com/intl/es/chrome/browser/"><img src="{{ asset('bundles/scribo/img/chrome.png') }}" title="Google Chrome" /></a>
            Se recomienda el uso de Google Chrome, otros navegadores podrían deshabilitar algunas características de la aplicación.
        </div>
        
        <a href="http://itclatam.com/"><img src="{{ asset('bundles/scribo/img/itc.png') }}" title="IT Corporation" /></a>
        <b>Powered by: </b> 
    </footer>

{% endblock %}
