{% extends 'ScriboBundle::base.html.twig' %}



{% block title %}BOARD{% endblock %}



{% block header %}
    <link rel="stylesheet" href="{{ asset('bundles/scribo/css/boardP.css') }}" />
    <script type="text/javascript" src="{{ asset('bundles/scribo/jsc/ice/dom.js') }}">/*--- Include ---*/ </script>
    <script type="text/javascript" src="{{ asset('bundles/scribo/jsc/ice/basico.js') }}">/*--- Include ---*/ </script>
    <script type="text/javascript" src="{{ asset('bundles/scribo/jsc/ice/ajax.js') }}">/*--- Include ---*/ </script>
    <script type="text/javascript" src="{{ asset('bundles/scribo/jsc/view/boardP.js') }}">/*--- Include ---*/ </script>
{% endblock %}


{% block body %}
    <div id='r'>
        <div id="z1"><b class="t">ORDENES</b></div>
        <div id="z2"></div>
        <div id="z3"></div>
        <div id="z4"></div>
        
        <div id="c1"><b class="t">DISEÑO</b></div>
        <div id="c2"><b class="t">JEFATURA I.</b></div>
        <div id="c3"><b class="t">IMPRESIÓN</b></div>
        <div id="c4"><b class="t">JEFATURA A.</b></div>
        <div id="c5"><b class="t">ACABADOS</b></div>
        <div id="c6"><b class="t">ENTREGAS</b></div>
        
        <div id="p"></div>
    </div>
    
    <div id="bs">
        <table>
            <tr>
                <td><a href="http://www.itclatam.com"><img src="{{ asset('bundles/scribo/img/splash.gif') }}" /></a></td>
            </tr>
        </table>
    </div>
{% endblock %}

{% block script %}

    <script type="text/javascript">
        
        var $basePath = "{{ path('scribo') }}";
        var $imgPath = "{{ asset('bundles/scribo/img/') }}";
        
    </script>

{% endblock %}

