{% extends 'ScriboBundle::layout.html.twig' %}



{% block title %}Home{% endblock %}



{% block uheader %}
    <link rel="stylesheet" href="{{ asset('bundles/scribo/css/homer.css') }}" />
    <script type="text/javascript" src="{{ asset('bundles/scribo/jsc/view/firma.js') }}">/*--- Include ---*/ </script>
    <script type="text/javascript" src="{{ asset('bundles/scribo/jsc/view/findhelper.js') }}">/*--- Include ---*/ </script>
    <script type="text/javascript" src="{{ asset('bundles/scribo/jsc/view/upload.js') }}">/*--- Include ---*/ </script>
    <script type="text/javascript" src="{{ asset('bundles/scribo/jsc/view/homer.js') }}">/*--- Include ---*/ </script>
{% endblock %}



{% block view %}
    
    {% if role != 'R' %}
        <table class="scr-procon">
            <tr>
                <td>
                    <select id='action'>
                        <option value=''>ACCIÓN...</option>
                        
                        <option value='A'>ANOTAR</option>
                        
                        {% if role != 'C' %}
                            <option value='F'>AVANZAR</option>
                        {% endif %}
                        
                        {% if role != 'A' and role != 'I' and role != 'D' %}
                            <option value='B'>RETROCEDER</option>
                        {% endif %}
                        
                        {% if role != 'A' %}
                            <option value='R'>DEVOLVER</option>
                        {% endif %}
                        
                        {% if role == 'A' or role == 'P' or role == 'T' or role == 'C' %}
                            <option value='T'>TRANSFERIR</option>
                        {% endif %}
                        
                        {% if role == 'C' %}
                            <option value='O'>ACEPTAR</option>
                        {% endif %}
                        
                    </select>
                </td>
                <td>
                    <input id="reciv" class="scr-hidden" type="text" readonly="readonly" />
                    <input id="xreciv" type="text" placeholder="Usuario Receptor..." />
                    <div id="lreciv" class="scr-hlpList" ></div>
                </td>
            </tr>
            <tr>
                <td colspan="2"><textarea id="data" rows='5' placeholder="Descripción Del Proceso..."></textarea></td>
            </tr>
            
            <tr>
                <td colspan="2">
                    <input style="float: right; margin: 5px;" id="proce" type="button" value="PROCESAR" />
                    <input style="float: left; margin: 5px;" id="cicle" type="button" value="VER PROCESO" />
                    {% if role == 'C' %}
                        <input style="float: right; margin: 5px;" id="entrega" type="button" value="ENTREGAR" />
                        <img style="display: none; float: right; margin: 5px; cursor: pointer;" id="showFirma" src="{{ asset('bundles/scribo/img/firma.png') }}" title="Firmar Entrega..." />
                    {% endif %}
                </td>
            </tr>
        </table>
        <br />
    {% else %}
        <table class="scr-procon">
            <tr>
                <td>
                    <input style="float: left;" id="cicle" type="button" value="VER PROCESO" />
                </td>
            </tr>
        </table>
        <br />
    {% endif %}
    
    <div class="scr-pullOrd">
        <table id="lOrder">
            <tr><th>ORDEN</th><th>TIPO</th><th>CLIENTE</th><th>F. DE REGISTRO</th><th>T. PARA ENTREGA</th></tr>
            <tr><th colspan="5" style="background: #fff; height: 359px;"><img src="{{ asset('bundles/scribo/img/loader.gif') }}" /></th></tr>
        </table>
    </div>
    
{% endblock %}


{% block outview %}
    
    {% if role == 'C' %}
        <div id="ctFirma" class="scr-firma">

            <table>
                <tr>
                    <td>
                        <canvas id="firma" class="" width="640" height="480" style=""></canvas>
                        
                        <br />
                        <textarea id="obsEntre" style="width: 640px; height: 50px;" placeholder="Observaciones..." ></textarea>
                        <br />
                        <br />
                        
                        <input id="clearFirma" type="button" value="LIMPIAR" />
                        &nbsp;
                        <input id="getFirma" type="button" value="COMPLETAR ENTREGA" />
                    </td>
                </tr>
            </table>

        </div>
    {% endif %}
    
    <div id="oDet">
        <table class="ex">
            <tr>
                <td>
                    <table class="in">
                        <tr><th>PID</th><th>ÚLTIMO CAMBIO</th><th>DURACIÓN</th><th>ACCIÓN</th></tr>
                        <tr><td id="odPid"></td><td id="odFec"></td><td id="odDur" ></td><td id="odAct"></td></tr>
                        <tr><th>&nbsp;</th><th>ROL</th><th>USUARIO</th><th>PERSONAL</th></tr>
                        <tr><th>EMITE:</th><td id="odEmiRol"></td><td id="odEmiUse"></td><td id="odEmiPer"></td></tr>
                        <tr><th>RECIBE:</th><td id="odRecRol"></td><td id="odRecUse"></td><td id="odRecPer"></td></tr>
                        <tr><td colspan="4"><textarea id="odDes" readonly="readonly"></textarea></td></tr>
                        <tr><td colspan="4"><input id="detCloser" type="button" value="CERRAR" /></td></tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    
    <div id="logger">
        <table class="ex">
            <tr>
                <td>
                    <table class="in">
                        <tr><th style="width: 50px;">OID:</th><th id="lgOid"></th></tr>
                        <tr><th colspan="2">DESCRIPCIÓN</th></tr>
                        <tr><td colspan="2"><textarea id="lgDes" readonly="readonly"></textarea></td></tr>
                        <tr><td colspan="2"><input id="lgCloser" type="button" value="CERRAR" /></td></tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    
    <div id="visor">
        <div id="closer" title="Cerrar...">&nbsp;</div>
        <div id="space">
            <br />
            <table class="scr-marker">
                <tr>
                    <th>Nº De Orden:</th><td id="vId"></td>
                    <th>Tipo:</th><td id="vTy"></td>
                </tr>
                <tr>
                    <th>Cliente:</th><td id="vCl"></td>
                    <th>Creada Por:</th><td id="vPr"></td>
                </tr>
                <tr>
                    <th>Fecha:</th><td id="vFc"></td>
                    <th>Estado:</th><td id="vEs"></td>
                </tr>
                <tr>
                    <th>Duración Estimada:</th><td id="vDu"></td>
                    <th>Valor Registrado:</th><td id="vVl"></td>
                </tr>
            </table>
            <br />
            <div id="pres">
                <div id="pA"></div>
                <div id="pP"></div>
                <div id="pI"></div>
                <div id="pT"></div>
                <div id="pD"></div>
                <div id="pC"></div>
                <div id="pcA"></div>
                <div id="pcP"></div>
                <div id="pcI"></div>
                <div id="pcT"></div>
                <div id="pcD"></div>
                <div id="pcC"></div>
                
                <canvas id='rower'></canvas>
                
            </div>
            <br /><br />
        </div>
        
    </div>
    
    <div id="detaller">
        <div id="dCloser" title="Cerrar...">&nbsp;</div>
        <br />
        <input id="fileIn" class="scr-hidden" type="file" />
        
        <div id="dSpace">
            
        </div>
        
    </div>
    
    <div id="uploader" class="scr-uploader">
        <table>
            <tr><th id="upLabel">&nbsp;</th><td><b id="upBar"></b></td></tr>
        </table>
    </div>
    
{% endblock %}


